.bankSection {}

.bankSection h2, .bankSection > p {
    text-align: center;
}

.bankSection h2 {
    font-size: 3.9em;
    font-weight: 600;
}

.bankSection p {
    color: #7b7b7b;
}

.banckSection__cards {
    display: flex;
    gap: 3rem;
    margin-top: 6rem;
}

.banckSection__cardBox {
    margin-bottom: 4rem;
}

.banckSection__cardBox figure {
    width: 100%;
    display: block;
    background: white;
    border-radius: 30px;
    padding-top: 4.5rem;
    padding-inline: 2rem;
}

.banckSection__cardBox figure img {
    display: block;
    width: 100%;
    max-width: 30rem;
    margin: auto;
}

.banckSection__cardBox h3 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 2rem;
}

.banckSection__cardBox p {}

@media (max-width: 950px) {
    .banckSection__cards {
        gap: 0rem;
        margin-top: 0rem;
        flex-direction: column;
    }
}