header {
    padding-block: 1.3rem;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-nav {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.header__logo-nav img {
    width: 7.5rem;
    vertical-align: middle;
}

.header__nav {}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.menu__item {}

.menu__item a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: #7b7b7b;
    transition: .5s;
}
.menu__item a:hover {
    color: black;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__actions a {
    font-size: 1em;
    transition: .5s;
}

.header__actions a:hover {
    scale: 1.1;
}

.header__link--sing {
    color: black;
}
.header__link--sing:hover {
    color: #575656;
}