.platformSection {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding-block: 8rem;
}

.platformSection__cards {}

.platformSection__cards img {
    max-width: 40rem;
    width: 100%;
}

.platformSection__descriptionPlataform {
    display: grid;
    grid-template-areas:
        "description_1 description_1"
        "description_2 description_3"
        "download download";
    grid-template-rows: 8rem 6rem 3rem;
    grid-template-columns: 13rem 17rem;
    grid-gap: 1.7rem 3rem;
}

.downloadSection__description {}

.downloadSection__description h3 {
    font-size: 2em;
    font-weight: 600;
}

.downloadSection__description h4 {
    font-size: 1.3em;
    font-weight: 600;
}

.downloadSection__description p {
    color: #7b7b7b;
}

.description_1 {
    grid-area: description_1;
}

.description_2 {
    grid-area: description_2;
}

.description_3 {
    grid-area: description_3;
}

.downloadSection__download {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding-left: 1rem;
    grid-area: download;
}

.downloadSection__download div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.downloadSection__download div img {}

.downloadSection__download div span {
    font-size: 1.2em;
    font-weight: 600;
}

.downloadSection__download a {
    padding-block: 1rem;
}

@media (max-width: 1350px) {
    .platformSection {
        gap: 0;
    }
}

@media (max-width: 1230px) {
    .platformSection {
        flex-direction: column;
    }

    .platformSection__descriptionPlataform {
        margin-top: 3rem;
        grid-template-rows: 8rem 6rem 3rem;
        grid-template-columns: 25rem 21rem;
    }
}

@media (max-width: 950px) {
    .platformSection__descriptionPlataform {
        display: flex;
        flex-direction: column;
    }
}