.blackButtonEffect {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-radius: 333px;
    padding: 0.5rem 1rem 0.5rem 1.3rem;
    transition: .5s;
}

.blackButtonEffect img {
    width: 1.2rem;
}

.blackButtonEffect:hover {
    scale: 1.1;
}